@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-gradient: radial-gradient(circle, rgba(40,30,100,0.9) 0%, rgba(40,40,40, 1) 100%); 
  --text-primary: #fff;
}

body {
  background: var(--background-gradient);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-color: var(--background-rgb);

  @apply text-primary;
}

@layer components {
  .container-glass {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-clear {
    color: rgba(255, 255, 255, 0);
  }
}
